<!DOCTYPE html>
<html>
   <head>
      <meta charset="uft-8">
      <title>BMI Calculator</title>
     
      <style>
          body,html{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display:table;
          }
         body {
         max-width: 500px;
         background: transparent !important;
           display:table-cell;
        vertical-align:middle;
         }
         input {
         display: block;
         margin: 0 0 1em 0;
         padding: .4em .5em;
         width: 100%;
         height: 40px;
         outline: none; 
         }
         [type=number] {
         display: block;
         margin: 0 0 1em 0;
         padding: .4em .5em;
         width: 100%;
         height: 40px;
         outline: none;
         border: 1px solid rgba(255,255,255,.7);
         border-radius: 2px;
         background: rgba(255,255,255,.5);
         box-shadow: rgba(0,0,0,.15) 0 1px 0;
         color: rgba(0,0,0,.7);
         font-weight: 400;
         font-size: 12pt;
         transition: all .2s ease-in-out;
         -webkit-appearance: none;
         appearance: none;
         -moz-appearance: none;
         font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
         }
         [type=number]:focus {
         outline: none;
         border-color: orange;
         box-shadow: #fc0 0 0 3px;
         }
         .container{
            display: table;
            margin:auto;
         }
      </style>
   </head>
   <body>
      <div class="container">
        <h1>BMI Calculator</h1>
        <h3>Weight</h3>
        <input id=weight type=number value=150 oninput=slider.value=value;bmi()>
        <input id=slider type=range min=0 max=350 value=185 oninput=weight.value=value;bmi()>
        <h3>Height</h3>
        <span>Feet</span>
        <input id=feet type=number value=6 onchange=bmi()>
        <span>Inches</span>
        <input id=inches type=number value=0 onchange=bmi()>
        <output></output>
      </div>
      <script>
         function bmi(){
         var weight = document.getElementById('weight').value,
         feet = parseInt(document.getElementById('feet').value*12),
         inches = parseInt(document.getElementById('inches').value),
         height = feet + inches,
         output = document.querySelector('output'),
         formula = ~~(weight/(height*height)*703*100)/100,
         category = ''
         if (formula < 18.5){
         category = 'Underweight'
         document.documentElement.style.background = 'orange'
         } else if (18.5 < formula && formula < 25){
         category = 'Normal Weight'
         document.documentElement.style.background = 'lightgreen'
         } else if (25 < formula && formula < 30){
         category = 'Overweight'
         document.documentElement.style.background = 'orange'
         } else if (30 < formula){
         category = 'Obese'
         document.documentElement.style.background = 'indianred'
         }
         output.innerHTML = '<h1>'+formula+'</h1><h2>'+category+'</h2>'
         }
         bmi()
      </script>
   </body>
</html>